.father {
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* flex-direction: row-reverse; */

  /* align-items: flex-end; */
  /* align-content: center; */

  /* flex-wrap: wrap; */

  /* flex-wrap: wrap; */
}

.child {
  width: 200px;
  height: 200px;
  color: white;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1px solid black;
}
