.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border: 1px solid red;
}

.grid {
  background-color: #0005;
  height: 100px;
  display: grid;
  gap: 10px;
  /* grid-auto-flow: column; */
}

.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}
.item:nth-child(even) {
  background-color: #3498db;
}
