@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Marck+Script&family=Poppins:wght@200;400;900&display=swap');

$clone_03_bg:#af7832;





#clone_03{
    background-color: $clone_03_bg;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Hide scrollbars */
    
    display: grid;
    grid-template-columns: 1.5fr 1.9fr 1.5fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 1px;

    .img{
        background-image: url(../../imgs/clone_03_img_01.png);
        background-size: cover;
        background-position: center;
    }

    span{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clone_03_bg;
        font-size: 30px;
    }

    .number__row{
        // background-color: #af7832;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        
        span{
            width: 100%;
            height: 100%;
            border: 1px solid $clone_03_bg;
        }
        
        
    }

    

    .menu,
    .number__row>span{
        cursor: pointer;
        transition: color 0.3s linear, background-color 0.3s linear;
        &:hover{
            background-color: $clone_03_bg;
            color: white;   
        }
    }

    @keyframes scrollText {
        0%{
            transform: translateX(-150px);
        }
        50%{
            transform: translateX(150px);
        }
        100%{
            transform: translateX(-150px);
        }        
    }
    .scrolling__text{
        white-space: nowrap;
            overflow: hidden;  
        span{    
                      
            animation: scrollText 3s linear infinite;        
        }
    }
    
}